Checks: "-*,bugprone-*,cert-dcl21-cpp,cert-dcl50-cpp,cert-env33-c,cert-err34-c,cert-err52-cpp,cert-err60-cpp,cert-flp30-c,cert-msc50-cpp,cert-msc51-cpp,cppcoreguidelines-*,google-*,hicpp-*,misc-*,modernize-*,performance-*,readability-*,-readability-named-parameter,-modernize-use-trailing-return-type,-readability-isolate-declaration,-google-readability-casting,-readability-implicit-bool-conversion,-hicpp-braces-around-statements,-cppcoreguidelines-init-variables,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-braces-around-statements,-hicpp-named-parameter,-bugprone-reserved-identifier,-cppcoreguidelines-pro-type-union-access,-readability-qualified-auto,-cppcoreguidelines-pro-type-reinterpret-cast,-hicpp-multiway-paths-covered,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-avoid-magic-numbers,-google-global-names-in-header,-cppcoreguidelines-pro-bounds-constant-array-index,-google-readability-braces-around-statements"
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: 1
  - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
    value: WinMain,SDL_main
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
  - key: modernize-loop-convert.MinConfidence
    value: risky
